.b-menu
{
    font-size: 1.5em;

    margin: 1em 0;
    padding: 0;

    white-space: nowrap;
}

.b-menu__item
{
    display: inline-block;

    margin-right: 0.75em;

    list-style: none;
}

.b-menu__item_state_current
{
    border-bottom: 4px solid #aaa;
}
