.b-promo
{
    text-align: center;
    margin: 1em 0;
    padding: 10em;
    background: #eee;
/*
    // ========================================== \\
   ||                                              ||
   ||               Your PROMO styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/
}
